In [1]:
%cd ..

c:\Users\dannr\Desktop\llm-synthetic-generation

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:
from src.data_ingestion import *

In [61]:
df = get_stratified_data('data/real_data.csv', seed=42)
df

                                                   text  label
1477  Once they realize criticising and hating isnt ...      0
1713  Sana magka posisyon sa gabinete si Ka Leody de...      0
671   Hindi natin kaialngan ng isang Presidente na m...      0
381   Happy mother's day madam [USERNAME] bukas na p...      0
407                            KakampinkIpanalo Na10 To      0
...                                                 ...    ...
2283                       Kakainis si Mar Roxas ??????      1
2012  nochange [USERNAME] Marcos Magnanakaw na lang!...      1
1815  [USERNAME]and[USERNAME] AWS? SIGURADO KA? BAKI...      1
441   Basta ang masasabi ko lang sa mga fans ni leni...      1
361   Hall of Bad Taste: Esquire Philippines puts Ma...      1

[2000 rows x 2 columns]

In [59]:
real_samples = df.groupby('label').sample(250, random_state=42)
real_samples

                                                   text  label
2607                tuloy na tuloy na BBM FOR PRESIDENT      0
932               Yani [USERNAME] Let Leni Lead Chareng      0
279   Lapit na ng eleksyonBasta ako i will go for IS...      0
202   [USERNAME] [USERNAME]and[USERNAME] Marriage is...      0
1892  We need leaders with the same style as what Pr...      0
...                                                 ...    ...
2215  Babaliktarin lahat para lang bumango ang mga t...      1
1372  Para lang may sumalubongP500 kada tao? Wow. Pa...      1
1887                  ANG DRAMA MO MAR ROXAS SO SHUT UP      1
2314  [USERNAME] hindi no. not referring to the real...      1
395   Rappler [USERNAME] Participants change their d...      1

[500 rows x 2 columns]

In [63]:
real_samples.to_csv('data/out/sample.real-500.csv')